.features {
  padding: 120px 72px;
  background: #020617;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

.features-grid {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.feature-card {
  background: #111827;
  padding: 32px;
  border-radius: 16px;
  width: 300px;
  text-align: left;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  margin-bottom: 12px;
}

.feature-card p {
  color: #9ca3af;
}